.back {
    background-image: url('/src/assests/5079835.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width:100vw;
    margin:0px;
    padding:0px;

  }
  
.text{
    color:white
}
.containerFluid {
    background:#E32636;
    color:aliceblue
  }
  
  .navbarBrand {
    color: aliceblue;
    padding: 25px;
    text-decoration: none;
  }
  /* Login.module.css */
.textWhite {
  color: white;
}
.btnnnn{
  background: #E32636;
  color: white;
  border: none;
  width: 100px;
  min-width: 100px;
}

.table {
  border: 2px solid #E32636;
}

.table th,
.table td {
  border: 2px solid #FF3800;
}

/* Logout button */
.navbarBrandss {
  color: aliceblue;
  padding: 25px;
  text-decoration: none;
  background-color: black;
  height: 10px;
  padding-top: 25px;
  cursor: pointer;

 
}

/* User Management dropdown */
.dropdown-menu .dropdown-item {
  color: black;
  text-align: center;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  text-decoration: none;
}


.dropdown-menu .dropdown-item:first-child {
  color: black;
  text-align: center;
  text-decoration: none;
}
.btnnnnn{
  background: green;
  color: white;
  border: none;
  width: 100px;
  min-width: 100px;
}
/* Login.module.css */


/* Login.module.css */
/* Login.module.css */

.containerFluid {
  background-color: #000; /* Assuming you want a dark background */
}
.card{
  background-color: whitesmoke;
}
.r{
  display:flex;
  justify-content: center;
}
.cardTitle {
  font-size: 24px;
  font-weight: bold;
}
.cardsssss {
  opacity: 0.8; /* Slightly reduce opacity */
  background-color: #0d3241; /* Dark blue color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  border-radius: 10px; /* Smooth corners */
}

.cardsssss h3 {
  color: white; /* White text for better contrast */
}

.cardsssss a {
  color: #ffffff; /* White link text */
  text-align: center;
  display: block;
  margin-top: 10px;
}

.cardsssss a:hover {
  color: #ff9800; /* Highlight on hover */
}
.whiteBorder {
  border-color: white !important; /* White border for input fields */
}

.MuiInputBase-input::placeholder {
  color: white !important; /* White placeholder text */
}
.icon{
  height: 50px;
  width:100px;
}
.backgroundattarctive {
  background: linear-gradient(white, black, #B9DFFF); /* Apply gradient correctly */
  min-height: 100vh; /* Full viewport height */
  padding: 40px; /* Add padding */
}
.colorneedwhite{
  color:white
}
.custombutton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Adjust padding, border, and other styles if needed */
 padding: 10px 20px; 
}