.back {
    background-image: url('/src/assests/pexels-karolina-grabowska-5624997.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width:100vw;
    margin:0px;
    padding:0px;

  }
  
.text{
    color:white
}
.containerFluid {
    background-color:#E32636;
    color:aliceblue
  }
  
  .navbarBrand {
    color: aliceblue;
    padding: 25px;
    text-decoration: none;
  }
  /* Login.module.css */
.textWhite {
  color: white;
}
.btnnnn{
  background: #E32636;
  color: white;
  border: none;
  width: 100px;
  min-width: 100px;
}

.table {
  border: 2px solid #E32636;
}

.table th,
.table td {
  border: 2px solid #FF3800;
}

/* Logout button */
.navbarBrandss {
  color: aliceblue;
  padding: 25px;
  text-decoration: none;
  background-color: black;
  height: 10px;
  padding-top: 25px;
  cursor: pointer;

 
}

/* User Management dropdown */
.dropdown-menu .dropdown-item {
  color: black;
  text-align: center;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  text-decoration: none;
}


.dropdown-menu .dropdown-item:first-child {
  color: black;
  text-align: center;
  text-decoration: none;
}
.btnnnnn{
  background: green;
  color: white;
  border: none;
  width: 100px;
  min-width: 100px;
}
/* Login.module.css */


/* Login.module.css */
/* Login.module.css */

.containerFluid {
  background-color: #000; /* Assuming you want a dark background */
}
.card{

  background-color: "#fff";
  border-radius: "15px";
  padding: "20px";
  transition: "transform 0.3s ease";
  text-align: "center";
  color: "#333";
}
.r{
  display:flex;
  /* justify-content: center; */
justify-content: space-between; font-weight: bold; font-size: 16px;
}
.centeredTable {
  margin: 0 auto;
  border: 2px solid; /* Example of custom border color */
  width: 100%; /* Ensures the table does not overflow */
  border-radius: 50px;
}
.icon{
  font-size: 24px; /* Adjust this value as needed */
  color: #000;
}
.icons{
  font-size: 54px; /* Adjust this value as needed */
  color: #000;
  margin-left: 50px;
}
.custombutton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Adjust padding, border, and other styles if needed */
  padding: 10px 20px; /* Adjust padding to your needs */
}
.ant-table-row.active-row {
  background-color: #c0b7e8 !important; /* Your desired color for active rows */
}

.ant-table-row.inactive-row {
  background-color: #fff !important; /* Color for inactive rows */
}
.backgroundattarctive {
  background: linear-gradient(white, black, #B9DFFF); /* Apply gradient correctly */
  min-height: 100vh; /* Full viewport height */
  padding: 40px; /* Add padding */
}
.chart{
  width:100%;
  height:50px;
   background-color: #fff ;padding: 20px; border-radius: 10px;
  
}
.tablecontentstyling{
  width: 90%; max-width: 1200px;
  margin: 0 auto; 
}