*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-table-row.active-row {
  background-color: snow  !important; /* Your desired color for active rows */

}

.ant-table-row.inactive-row {
  background-color: #fff !important; /* Color for inactive rows */
}
.ant-table-thead .ant-table-cell {
  background-color: #dc3545 !important;
  color: #fff !important;
}
.ant-card-head{
  background-color: #dc3545 !important;

}
.ant-card-head-title{
  color:#fff
}

 .ant-menu-item-selected{
  background-color: #dc3545 !important;
}
.ant-menu-submenu-selected{
  background-color: #dc3545 !important;
}
#svgjsPath2083.apexchart{
  background-color: #dc3545 !important;
}